name: "Build"

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string
      target:
        required: true
        type: string
      build-args:
        required: false
        type: string
        default: ""
      release-id:
        required: false
        type: string
      asset-prefix:
        required: false
        type: string
        default: "talky"
      upload-artifacts:
        required: false
        type: boolean
        default: false
      repository:
        required: false
        type: string
      ref:
        required: false
        type: string
        default: ${{ github.ref }}

jobs:
  build:
    permissions:
      contents: write
    runs-on: ${{ inputs.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Get version from tauri.conf.json
        id: get-version
        shell: bash
        run: |
          VERSION=$(grep -o '"version": "[^"]*"' src-tauri/tauri.conf.json | cut -d'"' -f4)
          echo "Application version from tauri.conf.json: $VERSION"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin,x86_64-apple-darwin

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"
          key: ${{ inputs.platform }}-${{ inputs.target }}

      - name: Install frontend dependencies
        run: bun install

      - name: Add Rust target
        run: rustup target add ${{ inputs.target }}

      - name: Build with Tauri
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          tagName: ${{ inputs.release-id && format('v{0}', steps.get-version.outputs.version) || '' }}
          releaseName: ${{ inputs.release-id && format('v{0}', steps.get-version.outputs.version) || '' }}
          releaseId: ${{ inputs.release-id }}
          args: ${{ inputs.build-args }}

      - name: Upload artifacts
        if: inputs.upload-artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.asset-prefix }}-${{ inputs.target }}
          path: |
            src-tauri/target/${{ inputs.target }}/release/bundle/dmg/*.dmg
            src-tauri/target/${{ inputs.target }}/release/bundle/macos/*.app
          retention-days: 30
